.container{
    position:relative;
    width: 34px;
    height: 34px;
    outline: none;
}

.stick{
    width: 34px;
    cursor:pointer;
    z-index: 99999999;
    background-color: #35423c;
    height:5px;
    border-radius: 10px;
    position: absolute;
    transform-origin: right;
}

.stick-3{
    top:26px;
    transition: transform 0.15s linear;
}

.stick-2{
    top:13px;
}

.stick-1{
    top:0px;
    transition: transform 0.15s linear;
}

.rotate-cc{
    transform:rotate(-45deg);
    width: 37px;
}

.rotate-c{
    transform:rotate(45deg);
    width: 36px;
}

.headerMenu__wrapper{
    display: none;
    cursor: pointer;
    position: relative;
    max-width: 100%;
    width: 95%;
    margin:auto;
    margin-top: 0px;
    margin-bottom: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 50px 100px -12px rgba(0,0,0,.15), 0 30px 60px -30px rgba(0,0,0,.08), 0 0 20px rgba(0,0,0,.1);
}

.headerMenu__links{
    margin: 0;
    position: relative;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.drawerLink{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    padding: 14px 20px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: normal;
    text-decoration: none;
    color:#51a3ff;
    font-family: sans-serif;
}

.DD_animation{
    transition: margin 10s linear;
    margin-top: 60px !important;
    display: block;
}

.drawerLink:hover{
    text-decoration: underline;
    text-decoration-color: #51a3ff;
}

@media only screen and (min-width:600px){
    .headerMenu__wrapper{
        display: none !important;
    }
}