.sitting-img{
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;   
}

.text{
    margin-top: auto !important;
    margin-bottom: auto !important;
    padding-left: 5vw;
    font-weight: 400;
}

.light{
    color: #5b7167;
    padding: 2vw 0;
}

.tick{
    color: green;
}

.top-text{
    font-family: 'Montserrat', sans-serif !important;
}

@media only screen and (max-width: 500px){
    .sitting-img{
        max-width: 100vw;
    }
}